@import './variables.scss';

.all-contacts-btn {
  background-color: $primary !important;
  border: none !important;
  color: white !important;
}

.us-contacts-btn {
  background-color: $secondary !important;
  border: none !important;
  color: white !important;
}
